**/*.ts
**/tsconfig.json
.vscode/**
.github/**
src/**
node_modules/**
!node_modules/node-plantuml/**
!node_modules/node-nailgun-client/**
!node_modules/node-nailgun-server/**
!node_modules/plantuml-encoder/**
!node_modules/commander/**
.gitignore
.eslintrc.js
jest.config.ts
tsconfig.json
.npmrc
**/*.map
coverage/**
*.vsix